[submodule "SOSNet"]
	path = SOSNet
	url = https://github.com/bankbiz/SOSNet.git
[submodule "image_matching_benchmark"]
	path = image_matching_benchmark
	url = https://github.com/bankbiz/image-matching-benchmark.git
[submodule "benchmark_baselines"]
	path = benchmark_baselines
	url = https://github.com/bankbiz/image-matching-benchmark-baselines.git
