[submodule "SOSNet"]
	path = SOSNet
	url = https://github.com/bankbiz/SOSNet.git
[submodule "benchmark"]
	path = benchmark
	url = https://github.com/bankbiz/image-matching-benchmark.git
[submodule "benchmark_baselines"]
	path = benchmark_baselines
	url = https://github.com/bankbiz/image-matching-benchmark-baselines.git
